.box{
    background-color: #fff;
    padding: 2vh 4vh;
    height: 50vh;
    
    .course-image{
        height: 15vh;
        width: 100%;
        background-color: white;
        background-size: 100%;
        img{
            width: 20vh;
            height: 100%;
        }
        
        }
       
}
