
<section class="about-us text-center">
    <div class="container">
        <h2>About Us</h2>
        <p class="lead">
            We are dedicated team of professionals passionate about
            delivering high quality education and training.
        </p>
        <div class="row">
            <div class="col-md-4">
                <img
                src="imgs/Dipak.jpg"
                class="rounded-circle"
                alt="Team member 1"
                width="150"
                height="150"
                />
                <h4>Dipak Chavan</h4>
                <p>Founder &amp; CEO</p>
            </div>
            <div class="col-md-4">
                <img
                src="imgs/avatar1.png"
                class="rounded-circle"
                alt="Team member 2"
                width="150"
                height="150"
                />
                <h4>Sellena Iris</h4>
                <p>CO-Founder &amp; CFO</p>
            </div>
            <div class="col-md-4">
                <img
                src="imgs/avatar2.png"
                class="rounded-circle"
                alt="Team member 3"
                width="150"
                height="150"
                />
                <h4>Ankit Sharma</h4>
                <p>Trainner Lead</p>
            </div>
        </div>
    </div>
</section>