<!-- <div>
    Sample Project
    <p> Angular ngModule Project</p>
  </div>
  <p>Testing project</p>
  <a routerLink="/about">Goto About</a>  Single rounting 
   dynamic routing pasing 
    <a [routerLink]="['/','about',val]"> Goto About </a> 
<a (click)="navigate()">Goto About</a>  --> 

<section>
  <img src="imgs/Banner.jpg">
  <div class="main-content">
    <h1 class="mt-2">Explore amazing content</h1>
    <a class="btn btn-lg btn-light mt-2">Course</a>&nbsp;
    <a class="btn btn-lg btn-primary mt-2">Templates</a>
  </div>
</section>
<section class="courses">
  <div class="container">
    <h1 class="text-center">All Courses</h1>
    
    <!-- <div class="row mt-5">
      @for (course of courses; track $index) {
        <div class="col-lg-4 mb-2">
          <app-courses [course]="course"></app-courses>
        </div>
        
      }
       @empty {
        <div align="center">
          No Courses added yet
        </div>
      }
             
    </div> -->

    <!-- <app-courses [courses]="courses"></app-courses> -->
     <app-courses></app-courses>
     <app-about></app-about>
  </div>
  
</section> 